.page {
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: rgb(206, 171, 14);
  overflow: hidden;
}

.main-screen {
  padding: 30px;
  font-weight: bold;
  text-align: center;
  overflow: hidden;
  position: absolute;
  min-width: 17em;
  min-height: 40em;
  bottom: 0;
  left: 4.5em;
  font-size: 55px;

  transform-origin: 50% 90%;
  transform: perspective(350px) rotateX(25deg);
}

.container {
  position: absolute;
  top: 100%;
  animation: scroll 28s linear 1.5s infinite;
  animation-iteration-count: infinite;
  animation-name: star-animation;
}
.conteiner-text {
  text-align: justify;
}
@keyframes star-animation {
  from {
    top: 100%;
  }
  to {
    top: 0;
  }
}
