caption{
   color:grey;
   font-size: 24px;
   text-align-last: left;
   margin-top: 100px;
}
td, th{
   box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.27);   
}
th{
   border-bottom: 13px solid #3A4965;
}
.table{
   min-width: 1197px;
   min-height: 660px;
   margin: 0 auto;
   margin-bottom: 100px;
   border: 26px solid #3A4965;
   text-align: center;
   table-layout: auto;
   border-collapse: collapse;
}
.own-items{
   width: 200px;
}
.another-items{
   width: 160px;
}
.header{ 
   background-color: #FAFAFA;
   font-weight: bold;
   border-spacing: 0px;
   color: #484848;
}
.header_maim_item{
   padding: 30px 0 30px 0;
   font-weight: bold;
   font-size: 15px;
   line-height: 28px;
   text-transform: uppercase;
   color: #484848;
}
.header_maim_item span{
   font-size: 23px;
}
.logo{
   display: block;
   margin: 0 auto;
   margin-bottom: 10px;
}
.header_item{
   font-size: 22px;
   text-transform: uppercase;
}
.another-items:nth-child(2n), .header_item:nth-child(2n){
   background-color: #E3E3E3;
}
.another-items:nth-child(2n+1), .header_item:nth-child(2n+1){
   background: #F2F2F2;
}

.main{
   font-size: 16px;
   color: #484848;
   font-size: 16px;
   line-height: 30px;
   text-transform: uppercase;
}
.colored{
   padding-bottom: 23px;
   color: #FFFFFF;
   line-height: 12px;
   font-weight: bold;
   font-size: 14px;
   background-color: #89C331;
}
.colored span{
   font-size: 35px;
}
.colored p:nth-child(1){
   font-size: 22px;
}
.rose{
   background-color: #F04A56;
}
.blue{
   background-color:#20807C;
}
.main_link{
   margin-top: 14px;
   text-decoration: none;
   border-radius: 6px;
   padding: 8px 21px;
   background-color:#414141;
   box-shadow: inset 0 -5px 0px rgba(0,0,0,0.18);
   font-size: 16px;
   line-height: 28px;
   color: #FFFFFF;

}